header, main, footer, head {
      padding-left: 301px;
}

@media only screen and (max-width : 992px) {
	header, main, footer, head {
		padding-left: 0;
   }
}
.container {
   margin: 0 auto;
   max-width: 1280px;
   width: 90%;
}
@media only screen and (min-width: 601px)
  .container {
    width: 85%;
}
@media only screen and (min-width: 993px)
  .container {
    width: 70%;
}

#sad_pic {
   width: 180px; 
   height: 180px; 
   float: right;
}
#image-test {
   float: right;
   width: 40%;
   opacity: 0;
}
#hp-pic {
   width: 100px; 
   height: 100px;
}
#laptop-info {
   position: relative; 
   left: 100px; 
   bottom: 120px;
   font-family: "Verdana, sans-serif";
   color: black;
   padding: 10px;
}
.bl-border {
   border: 5px solid black;
   width: 800px;
   margin-top: 5px;
}
.fontVerdana {
   font-family: "Verdana, sans-serif";
   color: black;
   padding: 10px;
 }
.border {
   text-align: left;
   width: 800px;
   height: 800px;
   padding: 20px;
   background-color: white;
   border: 1px solid blue;
   margin: auto;
}
img.tpic {
   background-color: lightblue;
   margin: auto;
   padding: 5px;
}
.courier {
   font-family: "Courier New";
   color: black;
   font-size: 150%;
}
.bold {
   font-weight: bold;
}
.bglightblue {
   background-color: lightblue;
   color: black;
   text-align: left;
   margin: auto;
}
.inline-color-text {
   color: red;
}

